*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: QolorBold;
    src: url(appfont2_bold.ttf);
  }
  @font-face {
    font-family: Qolor;
    src: url(appfont2_regular.ttf);
  }
::-webkit-scrollbar {
    width:0;
  }
  
  ::-webkit-scrollbar-track {
    background:transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background:transparent;
  }
  
body{
    background: linear-gradient(135deg,#080f06,#010304,#021E22);
    margin-top:60px;
}
.container{
   background: transparent;
    height:fit-content;
    width: 100%;
    margin-bottom:25px;
}
.nav{
    height:60px;
    width:100%;
    background:#012529;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
}
.nav div{
    height: 100%;
    width:200px;
    display: flex;
    justify-content: left;
    align-items: center;

}
.nav div span{
    font-size: 20px;
    font-weight:bold;
    color: white;
    margin-left: 2px;
    font-family: QolorBold;
}
.nav div .logo{
    height:55px;
    width:55px;
    border-radius: 50%;
    margin-left: 10px;
}
.nav .menu{
    height:100px;
    width:60%;
}
.nav .menu ul{
    display: flex;
    list-style: none;
    height:100px;
    width:100%;
    align-items: center;
    justify-content: right;
}

.nav .menu ul li a{
    color:white;
    font-size: 20px;
    font-weight:300;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: QolorBold;
    position: relative;
}
.nav .menu ul li a::before{
    height:2px;
    width:0%;
    position: absolute;
    content: " ";
    bottom: -3px;
    background: #16C95F;
    transition: .5s ease-in-out;
}

.nav .menu ul li a:hover::before{
width:100%;
}
.menu_btn{
    display:none;
}
.content{
    height:fit-content;
    width:100%;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main_content,.main_image{
    height:50vh;
    width:45%;
    
}
.main_image{
    background:transparent;
    display: flex;
    height:fit-content;
    width:50%;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    position: relative;
    margin-bottom:30px;
    
}
.main_image span{
text-align: center;
width:100%;
position: absolute;
bottom:0px;
font-size:25px;
color:white;

}

.main_image img{
height:500px;
width: 500px;
border-radius:20px;
}
.main_content{
    background:transparent;
    text-align: center;
    height:500px;
    padding:10px 10px 10px 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.main_content h1{
    color:rgb(197, 118, 0);
    font-family: QolorBold;
    margin-bottom: 30px;
    margin-top:20px;
}
.main_content h1 span{
    color:rgb(197, 56, 0);
    font-size:25px;
    font-family:Qolor;
}

.main_content p{
    color:white;
    font-family: Qolor;
    
}
.main_content ul{
    list-style:disc;
    height:350px;
    color:#16C95F;
} 


.main_content ul li{
    height:25px;
    width:100%;
    text-align:left;
}

.main_content a{
    height:50px;
    width:250px;
    margin-top:50px;
    color:white;
    background:green;
    border:5px solid rgb(255, 255, 255);
    border-top-left-radius:30px ;
    border-bottom-right-radius:30px ;
    font-size: 25px;
    font-family:QolorBold;
    text-decoration:none;
    line-height: 40px;
    animation: btn_shap 1s infinite;
    transition: .5s ease-in-out;
    
}
.download_btn:hover{
    background:rgb(197, 118, 0);
    color:white;
}

.partners{
    height:fit-content;
    width:100%;
    color:white;
    background:transparent;
    text-align: center;
    margin-bottom:20px;
}
.partners #our_parteners{
    height:fit-content;
    width:100%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
 
}
.partners #our_parteners .reviews{
height:fit-content;
background:rgb(17, 12, 12);
margin:20px;
cursor: pointer;
flex:1 1 33%;
padding:20px;
border: 2px solid lightblue;
}
.partners #our_parteners .reviews div img{
    height:60px;
    width:60px;
}
.partners #our_parteners .reviews div p{
   margin:10px;
   color:white;
   font-family: Qolor;
   font-size:20px;

}
.partners #our_parteners .reviews div h2{
    color:#16C95F;
 }


.partners h1{
    width:100%;
    text-align: center;
    font-family: QolorBold;
    font-size: 25px;
    color:rgb(197, 118, 0);
}

.whatis{
    height:fit-content;
    width:100%;
    text-align:center;
    color:white;
}
.whatis h1{
    color:rgb(197, 118, 0);
}

.whatis .holder{
height:fit-content;
align-items:center;
justify-content:space-between;
display:flex;
}
.whatis .holder .paragraph p {
    color:white;
    margin:40px;
    font-family:Qolor;
    font-size:20px;
    text-align:left;
}
.whatis .holder img{
    height:auto;
    width:450px;
    transition:.2s;
}
.whatis .holder img:hover{
    scale: 1.2;
}

.features{
    height:fit-content;
    width:100%;
    background:transparent;
    text-align: center;
    padding:25px 25px 25px 25px;
}
.features h1{
font-size:25px;
color: rgb(197, 118, 0);
font-family:QolorBold;
width:100%;
line-height:40px;
height:fit-content;
background:transparent;
}

.features .features_info{
    height:fit-content;
    width:100%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features .features_info div{
background:rgb(15, 5, 5);
color:rgb(15, 5, 5);
height:fit-content;
margin:20px;
border: 2px solid lightblue;
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
padding: 10px 10px 10px 10px;
position:relative;
flex: 1 1 33%;
}
.features .features_info div h2{
    color:#16C95F;
}
.features .features_info div::after{
position:absolute;
top:0;
left:0;
content:"";
height: 270px;
width:100%;
background:linear-gradient(to bottom,#FF000000,#FF000000);
z-index:2;
}

.features .features_info div img,.features .features_info div h2,.features .features_info div p{
    margin-bottom: 15px;
}
.features .features_info div img{
height:200px;
width:200px;
border-radius: 10px;
box-shadow: 2px 5px 0 0 rgb(92, 97, 97);
transition: .3s ease-in-out;
}

.features .features_info div h2{
    font-family: QolorBold;
}
.features .features_info div p{
    font-family: Qolor;
    color:#ffffff;
}

.app_info{
    height:fit-content;
    width:100%;
    background:transparent;
    text-align: center;
    padding:15px 15px 15px 15px;
    margin-top:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app_info div{
    height:fit-content;
    width:100%;
    background:transparent;

}
.app_info h1{
    font-size:25px;
    color:rgb(197, 118, 0);
    margin-bottom: 20px;
    font-family:QolorBold;
    width:100%;
    line-height:40px;
    height:fit-content;
    background:transparent;
}
.app_info p{
    font-size:18px;
    color:White;
    margin-bottom: 20px;
    font-family:Qolor;
    width:100%;
    line-height:40px;
    height:fit-content;
}
.app_info .future_products{
    height:fit-content;
    width:100%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}
.app_info .future_products div{
    height:270px;
    width:100%;
    display: flex;
    margin:25px;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
    position: relative;
    background:rgb(17, 12, 12);
}
.app_info .future_products div h2{
    font-size:20px;
    color:#16C95F;
    width:100%;
    background:transparent;
    font-family:QolorBold;
    margin-bottom:15px;
}
.app_info .future_products div img{
height:150px;
width:100%;
margin-bottom: 20px;
}
.app_info .future_products div .fake_btn{
height:35px;
color:white;
background:#0c582b;
width:200px;
font-size:20px;
text-align:center;
line-height: 40px;
cursor: pointer;
border-radius:20px;
}
.app_info .future_products div .info{
    height: 290px;
    width:100%;
    position:absolute;
    padding: 10px 10px 10px 10px;
    top:-320px;
    left:-25px;
    background:black;
    z-index: 2;
    color:#16C95F;
    transition:.5s ease-in-out;
    font-family: serif;
}
.app_info .future_products div .info h1{
    width:100%;
    height:40px;
}
.app_info .future_products div .fake_btn:hover .info,.app_info .future_products div:hover .info{
    top:-30px;
}

.app_num h1{
    text-align: center;
    color:white;
}
.app_data{
    height:350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app_data div{
    height:150px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.app_data div h1{
 font-size:30px;
 font-family: QolorBold;
 color:white;
}
.app_data div span{
    font-size:20px;
    color:#16C95F;
    font-family: QolorBold;
    text-align: center;
}

.footer{
    height:300px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background:transparent

}
.footer .ftinner{
    height:300px;
    width:300px;
    background:transparent;
    padding:12px;
}
.footer .ftinner h1{
    font-family: QolorBold;
    color:#16C95F;
    font-size: 25px;
    margin-bottom:10px ;
}
.footer .ftinner p{
    font-family: Qolor;
    color:white;
    font:15px;
    
}

.footer .ftinner:nth-child(1) img{
    height:60px;
    width:60px;
} 
.footer .ftinner ul{
    list-style: none;
    height:200px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.footer .ftinner ul li{
    list-style: none;
    height:40px;
    line-height:40px;
    width:100%;
    text-align:center;
}
.footer .ftinner ul li a{
height:25px;
width:100%;
text-decoration: none;
color:#ffffff;
font-size:20px;
line-height:10px;
font-family: Qolor;
transition:.3s;
}
.footer .ftinner ul li:hover a{
color:#16C95F;
}

.footer .ftinner:nth-child(3) h1{
   text-align: right;
   width:100%;
   margin-bottom:10px;

}
.footer .ftinner:nth-child(3) ul{
    float:right;
    margin-top:10px;
    padding-right:10px;
}
.footer .ftinner:nth-child(3) ul li a{
    float:right;
    margin-top:10px;
    text-align: right;
}
.footer .ftinner:nth-child(2) h1{
    text-align: center;
}

.main_footer{
    height:30px;
    width:100%;
    text-align:center;
    color:#16C95F;
    font-family:Qolor;
    font-size:16px;
    display:flex;
    align-items: center;
    justify-content: center;

}
#menu_shutter{
    display:none;
}



